<!-- INÍCIO DO CONTEÚDO -->
      <section class="content-header">
        <h1>Sobre</h1>
      </section>

      <section class="content">
          <p class="lead">
            Rangando | Aplicação que demonstra as features do Angular
          </p>
          <p class="lead">
            MIT license
          </p>
          <p class="lead">Para testar conhecimentos usando Angular 4</p>
          <p class="lead">
            Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
          </p>

        </section>
    <!-- FIM DO CONTEÚDO -->
